body {
    background-color: rgb(6, 6, 35);
    margin: 0px;
}

a {
    text-decoration: none;
}

.Header {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 20);
    container-type: size;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Header_logo {
    width: 50%;
    height: auto;
    margin-left: 5%;
    justify-content: left;
}

#Header_Gallery {
    font-size: 5vh;
    margin-right: 3%;
    color: white;
}

.Banner {
    width: 100%;
    height: 90vh;
    background-image: url("../Images/BannerPic.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#Banner_MainText {
    font-size: 2.5vw;
}

#Banner_SubText {
    font-size: 2vw;
}

#email_link {
    color: white;
    text-decoration: underline;
}

#instagram_link {
    color: white;
    text-decoration: underline;
}